<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/844fd7bfe8.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <style>

     #h{
      margin-left:10px;
     }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


    <body style="height:900px;width:20 0px;background-color:rgb(234, 208, 168)">
        <nav  class="navbar navbar-expand {-sm|-md|-lg|-xl|-xxl} " >
            <div style="background-color:rgb(221, 240, 241);margin-top:-10px; padding:5px;height:60px; width:1300px;" class="container-fluid"><a href="http://127.0.0.1:8000/Myntraapp/index/"><img style="height:50px; width:50px; "src="https://tse1.mm.bing.net/th?id=OIP.anLaA_FAXWXm2MCDAqiIjAHaHa&pid=Api&P=0"></a>
              <a  class="navbar-brand" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/frst.html"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse"  id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" >

                  <li class="nav-item dropdown">
                    <a style="color:rgb(215, 20, 98)" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      MEN
                    </a>


                      <table  class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <tr>

                          <th style="color:rgb(69, 1, 28); font-display:inherit; " >Clothing </th><br>
                          <th style="color:rgb(69, 1, 28);  " >Accessories</th></tr>
                          <tr>
                            <td><a  class="dropdown-item" href="">Tshirts</a></td>
                            <td><a  class="dropdown-item" href="">Tshirts</a></td>
                          </tr>
                          <tr>
                            <td><a  class="dropdown-item" href="">Tshirts</a></td>
                            <td><a  class="dropdown-item" href="">Tshirts</a></td>
                          </tr>
                          <tr>
                            <td><a  class="dropdown-item" href="">Tshirts</a></td>
                            <td><a  class="dropdown-item" href="">Tshirts</a></td>
                          </tr>
                          <tr>
                            <td><a  class="dropdown-item" href="">Tshirts</a></td>
                            <td><a  class="dropdown-item" href="">Tshirts</a></td>
                          </tr>


                        </table>
                  <li class="nav-item dropdown">
                    <a style="color:rgb(215, 20, 98)" class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      WOMEN
                    </a>
                    <table  class="dropdown-menu" aria-labelledby="navbarDropdown">

                      <tr>

                        <th style="color:rgb(45, 0, 18); " >Clothing </th><br>
                        <th style="color:rgb(23, 0, 9); " >Accessories </th></tr>
                        <tr>
                          <td><a  class="dropdown-item" href="">Tshirts</a></td>
                          <td><a  class="dropdown-item" href="">Tshirts</a></td>
                        </tr>
                        <tr>
                          <td><a  class="dropdown-item" href="">Tshirts</a></td>
                          <td><a  class="dropdown-item" href="">Tshirts</a></td>
                        </tr>
                        <tr>
                          <td><a  class="dropdown-item" href="">Tshirts</a></td>
                          <td><a  class="dropdown-item" href="">Tshirts</a></td>
                        </tr>
                        <tr>
                          <td><a  class="dropdown-item" href="">Tshirts</a></td>
                          <td><a  class="dropdown-item" href="">Tshirts</a></td>
                        </tr>


                      </table>

                  <li class="nav-item dropdown">
                    <a style="color:rgb(215, 20, 98)" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      KIDS
                    </a>
                    <table  class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <tr>

                      <th style="color:rgb(57, 3, 24); " >Clothing  </th><br>
                      <th style="color:rgb(58, 2, 24); " >Accessories</th></tr>
                      <tr>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                      </tr>
                      <tr>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                      </tr>
                      <tr>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                      </tr>
                      <tr>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                      </tr>


                    </table>





                <li class="nav-item dropdown">
                  <a style="color:rgb(215, 20, 98)" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    HOME & LIVING
                  </a>
                  <table  class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <tr>

                      <th style="color:rgb(168, 64,106); " >Clothing  </th><br>
                      <th style="color:rgb(168, 64, 106); " > Accessories </th></tr>
                      <tr>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                      </tr>
                      <tr>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                      </tr>
                      <tr>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                      </tr>
                      <tr>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                        <td><a  class="dropdown-item" href="">Tshirts</a></td>
                      </tr>


                    </table>

                    <li class="nav-item " style="margin-top:8px;">
                      <a style="color:rgb(215, 20, 98) ;text-decoration:none; margin-left:10px;"  href="">
                        About
                      </a>

                      <li class="nav-item" style="margin-top:8px;" >
                        <a style="color:rgb(215, 20, 98);text-decoration:none;margin-left:10px;" href="http://127.0.0.1:8000/Myntraapp/contactus/" >
                            Contact
                        </a>



              <li class="nav-item dropdown">
                <a style="color:rgb(215, 20, 98); margin-left:400px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i  class="fa-regular fa-user"></i>
                </a>
                <table  class="dropdown-menu" aria-labelledby="navbarDropdown">

                  <tr>

                    <th style="color:rgb(45, 0, 18); text-align:center; " >Login</th><br>
                    <th style="color:rgb(23, 0, 9); text-align:center;" >Register </th></tr>
                    <tr>
                      <td><a  style="text-decoration:none;" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/regform.html"> Click here  </a></td>
                      <td><a  style="text-decoration:none; margin-left:10px;" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/regpg.html?">Create account</a></td>
                    </tr>

                    <tr> </li></table>
                      <li class="nav-item dropdown">
                        <a style="color:rgb(205, 17, 92); " class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa-solid fa-heart"></i>

                        </a>
                        <table  class="dropdown-menu" aria-labelledby="navbarDropdown">


                            <tr>
                              <td><a  style="text-decoration:none; color:rgb(32, 2, 14);" href=""> Saved items </a></td>
                              <td><a  style="text-decoration:none;  color:rgb(32, 2, 14);" href="">Move to cart</a></td>
                            </tr>

                            <tr> </li></table>
                              <li class="nav-item dropdown">
                                <a style="color:rgb(205, 17, 92); " class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  <i class="fa-solid fa-bag-shopping"></i>

                                </a>
                                <table  class="dropdown-menu" aria-labelledby="navbarDropdown">


                                    <tr>
                                      <td><a  style="text-decoration:none; color:rgb(32, 2, 14);" href=""> Saved items </a></td>
                                      <td><a  style="text-decoration:none;  color:rgb(32, 2, 14);" href="">Move to cart</a></td>
                                    </tr>

                                    <tr>

                                    </li>
                                  </table>
                    </ul>
                  </li>
                  <form class="d-flex">

                    <input  style="color:rgb(215, 20, 98);  margin-bottom:5px; margin-right:210px;" class="form-control me-2" type="search  " placeholder="Search" aria-label="Search" ><i style="color:rgb(240, 42, 151); margin-top:10px;" class="fa-solid fa-magnifying-glass"></i>


                    </form>
                  </div>
                </div>
            </nav>
                <div style="height:200px; width:900px;text-align:justify;margin-left:200px;color:rgb(234, 85, 135);">

                    <h3 style="text-align:center;">Myntra/ About</h3>

<h5>Introduction</h5>
Myntra is a one stop shop for all your fashion and lifestyle needs. Being India's largest e-commerce store for fashion and lifestyle products, Myntra aims at providing a hassle free and enjoyable shopping experience to shoppers across the country with the widest range of brands and products on its portal. The brand is making a conscious effort to bring the power of fashion to shoppers with an array of the latest and trendiest products available in the country.

<h5>Value proposition</h5>
Myntra's value proposition revolves around giving consumers the power and ease of purchasing fashion and lifestyle products online. Offerings such as the largest in-season product catalogue, 100% authentic products, cash on delivery and 30 day return policy make Myntra, the preferred shopping destination in the country. To make online shopping easier for you, a dedicated customer connect team is on standby to answer your queries 24x7.

<h5>Brands</h5>
Myntra understands its shoppers' needs and caters to them with choice of apparel, accessories, cosmetics and footwear from over 500 leading Indian and international brands. Prominent brands include Adidas, Nike, Puma, Catwalk, Inc 5, United Colors of Benetton, FCUK, Timberland, Avirate, FabIndia and Biba to name a few. You can also shop from some recently introduced labels such as - Roadster, Sher Singh, Dressberry, Kook N Keech and ETC.

<h5>Recognitions</h5>
Awarded 'Fashion eRetailer of the Year 2013' by Franchise India – Indian eRetail Awards
Awarded 'Best E-commerce Website for 2012' by IAMAI – India Digital Awards
Awarded 'Images Most Admired Retailer of the Year: Non–Store Retail' for 2012 by Images Group
Awarded 'Best E-commerce Partner of the year 2011-12' by Puma India</p>

<div  style="background-color:rgb(16, 0, 95) ;width:1260px;height:70px; margin-top:10px;margin-left:-200px" class="container-fluid"><h3 style="color:rgb(202, 188, 77);text-align:center;">Get connected with us</h4> <i style="margin-left:570px;" id="h" style="margin-left:500px;"class="fa-brands fa-facebook"></i><i id="h" class="fa-brands fa-instagram"></i><i id="h" class="fa-brands fa-twitter"></i></div>
    <table class="table" style="width:1200px;margin-left:-170px;">
      <thead>
        <tr>
          <th scope="col">Online Shopping</th>
          <th scope="col">Customer Policies</th>
          <th scope="col">Useful links</th>
          <th scope="col">Popular searches</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">men</a></th>
          <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">Contact us</a></td>
          <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">Blogs</a></td>
          <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">Clothing</a></td>

        </tr>
        <tr>
          <th scope="row"><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">women</a></th>
          <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">FAQ</a></td>
          <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">Carriers</a></td>
          <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">Hair care</a></td>
        </tr>
        <th scope="row"><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">Kids</a></th>
        <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">T&C</a></td>
        <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">Sites & maps</a></td>
        <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">body care</a></td>
      </tr>

      </tbody>
    </table>
</div>




</body>
</html>