<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <style>
    #h{
      color:rgb(140, 145, 242);
      margin-left:15px ;
      margin-top: -20px;
      text-align: center;
    }
    #c{
      margin-left:150px ;
      margin-top:20px;
    }


  </style>
    <script src="https://kit.fontawesome.com/844fd7bfe8.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:rgb(244, 234, 234); ">
{% if messages %}
   {% for i in messages %}
   <div class="alert alert-info">
      {{ i }}
   </div>
   {% endfor %}
{% endif %}
  <h3 style="text-align:center;margin-top:10px;color:rgb(230, 91, 41);">User Login</h3>


    <form style="height:390px; width:390px; margin-left:450px; margin-top:50px; background-color:rgb(247, 241, 244); color:rgb(247, 81, 159); "class="border border-danger" method="post">{% csrf_token %}
      <!-- <h4  style="MARGIN-LEFT:610PX; padding-top:30px; color:rgb(240, 41, 144);" >LOGIN</h4>  -->
      <a style="" href="http://127.0.0.1:8000/Myntraapp/index/"><img style="height:80px; width:80px; margin-left:150px;margin-bottom:10px;"src="{% static 'Myntraapp/images/logo.jpg' %}"><div class="mb-3"></a>
          <label style="margin-left:40px" for="exampleInputEmail1" class="form-label">Username</label>
          <input  style="width:300px ;margin-left:40px;" type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div style="margin-left:40px" id="emailHelp" class="form-text">enter a valid username</div>
        </div>
        <div class="mb-3">
          <label style="margin-left:40px"  for="exampleInputPassword1" class="form-label">Password</label>
          <input style="width:300px ;margin-left:40px;" name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input style="margin-left:20px"  type="checkbox" class="form-check-input" id="exampleCheck1">
          <label style="margin-left:2px"   class="form-check-label" for="exampleCheck1">Confirm </label>
        </div>
        <button style="background-color:rgb(246, 140, 54) ;color:white; margin-left:150px;" type="submit" class="btn btn-primary">Login</button>
      </form>
      <div  style="background-color:rgb(16, 0, 95) ;height:70px; margin-top:50px;margin-left:-1px;" class="container-fluid"><h3 style="color:rgb(202, 188, 77);text-align:center;">Get connected with us</h4> <i id="h" style="margin-left:570px;"class="fa-brands fa-facebook"></i><i id="h" class="fa-brands fa-instagram"></i><i id="h" class="fa-brands fa-twitter"></i></div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Online Shopping</th>
              <th scope="col">Customer Policies</th>
              <th scope="col">Useful links</th>
              <th scope="col">Popular searches</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">men</a></th>
              <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">Contact us</a></td>
              <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">Blogs</a></td>
              <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">Clothing</a></td>

            </tr>
            <tr>
              <th scope="row"><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">women</a></th>
              <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">FAQ</a></td>
              <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">Carriers</a></td>
              <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">Hair care</a></td>
            </tr>
            <th scope="row"><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">Kids</a></th>
            <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">T&C</a></td>
            <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">Sites & maps</a></td>
            <td><a style="text-decoration:dotted;color:rgb(226, 80, 22)" href="http://127.0.0.1:5500/file.html/csss/bootstrap/trial_pro/tr.html">body care</a></td>
          </tr>

          </tbody>
        </table>
</body>
</html>
<!--USER OR CUSTOMER LOGIN-->